input{
	padding: 8px;
	font size: 14px;
	border-radius: 4px;
}

input[type="checkbox"], input[type="radio"] {
	height: 20px;
	width: 20px;
}

label{
	width:160px;
	display: inline-block;
}

textarea{
	padding:6px;
	font-size: 14px;

}

select{
	padding: 6px;
	font-size: 14px;
}
html {
	background:url() no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

